.metrics {
    padding-bottom: 25px;
}
.metrics > h1 {
    font-size: 2.625rem;
    letter-spacing: -1px;
    line-height: 1.15;
    padding-bottom: 25px;
}
.metrics h3 {
    font-size: 1.625rem;
}
.metrics h6 {
    font-size: 1.0625rem;
}
.metrics #metrics_bar {
    width: 100% !important;
}