.node-button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    color: #fff;
    background-color: #223cfc;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 5px;
    box-shadow: 0 6px #555;
    appearance: none;
    padding: 2px 2px;
    outline: 0;
    width: 12em;
    font-weight: bold;
  }
  
  .node-button:hover {
    background-color: #283bc6 !important;
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.35);
  }
  
  .node-button:active {
    background-color: #0068ca !important;
    box-shadow: 0 2px #444;
    transform: translateY(4px);
  }

  .node-hidden {
      display: none;
  }

.printOnly {
  display : none;
}
 
@media print {
  .printOnly {
    display : block;
  }
  .noprint { 
    visibility: hidden; 
  }
}

@page {
  size: 8.5in 11in;
  margin: .5in;
}

.ojtLink {
  float: right;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  padding-top: 5px;
}

/* visited link */
ojtLink:visited {
  color: green;
}


/* mouse over link */
ojtLink:hover {
  color: hotpink;
  text-decoration: underline;
}