.legend_column {
    position: relative;
    float: right;
    font-size: 12px;
    width: 200px;
    margin-bottom: -52px;
    text-align: right;
    margin-right: 375px;
}
.legend_group p {
    margin: 0px;
}
.legend_icon {
    float: right;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 6px;
    border-style: solid;
    border-width: 1px;
}

.tableContent {
    float: right;
    width: calc(100% - 225px);
}

.tableSelect {
    float: left;
    width: 215px;
    height: calc(100vh - 260px);
    overflow-y: hidden;
    margin-top: 65px;
}
.tableSelect:before {    
    content: '';
    display: block;
    position: relative;
    top: 0;
    width: 205px;
    height: 50px;
    background-image: linear-gradient(to top, rgba(255,255,255,0), #fff);
    pointer-events: none;
    z-index: 2;
}
.tableSelect:after {
    content: '';
    display: block;
    position: relative;
    bottom: 115px;
    width: 205px;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), #fff);
    pointer-events: none;
    z-index: 2;
}

.tableSelect ul {
    position: relative;
    top: -50px;
    height: calc(100vh - 264px);
    list-style: none;
    padding: 10px 0 20px 0;
    overflow: auto;
}
.tableSelect ul::-webkit-scrollbar { 
    width: 10px !important;
}
.tableSelect ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
.tableSelect ul::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.tableSelect li {
    font-size: 20px;
    margin: 0px;
    padding: 0 7px;
}
.tableSelect a {
    color: inherit;
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 10px 0;
}
.tableSelect a.is-active {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}
.tableSelect a:hover {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}

.tableContent .pagination-detail, .tableContent h1 {
    margin-left: -225px;
}

.tableContent .fullscreen .pagination-detail {
    margin-left: 20px;
}

.feedbackButtonGroup {
    position: relative;
    margin-bottom: -52px;
    height: max-content;
    width: max-content;
    float: right;
}

.feedbackButtonGroup a {
    padding: 14px;
    margin-left: 5px;
    text-align: center;
    z-index: 1;
    width: max-content;
    height: max-content;
    display: block;
    float: right;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.feedbackButtonGroup a:hover {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}

.btn-secondary {
    color: #000;
    background-color: white !important;
    border-color: white !important;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.btn-secondary:hover {
    color: #000;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}
.show>.btn-secondary.dropdown-toggle {
    color: #000;
    background-color: white !important;
    border-color: white !important;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}
.page-link {
    border-radius: 5px;
    margin: 0 2px;
    border-color: white !important;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.page-link:hover {
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
    z-index: 10px;
}
.page-item.active .page-link {
    color: #000 !important;
    background-color: white;
    border-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}

.fixed-table-container {
    border-bottom: 0px !important;
}
.fixed-table-container.fixed-height {
    height: calc(100vh - 300px) !important;
}
.fixed-table-body::-webkit-scrollbar { 
    width: 10px !important;
    height: 10px !important;
}
.fixed-table-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
.fixed-table-body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
.fixed-table-header {
    margin-right: 0px !important;
}

.float-right.pagination {
    margin-right: 20px;
}
.bootstrap-table.bootstrap4.fullscreen .fixed-table-container.fixed-height {
    height: auto !important;
}